<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>This is a preliminary version of the schedule and may be subject to change.</p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Description</th>
        <th class="schedule-description"></th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            {{ if ne .spotlight nil }}
            <td class="schedule-slot">
            {{else}}
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

            {{end}}

              {{ .name }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
            {{ if ne .spotlight nil }}
              <td class="spotlight-description">
              {{range .spotlight.titles}}
                {{ .presenter }} on <br><i>{{ .title }}</i><br><a href="{{ .url }}"><img class="pdf-download-icon" src="/img/file-pdf-solid.svg" alt="PDF Paper Download"/></a><br><br>
              {{ end }}
              </td>
            {{ else }}
              {{ if ne .presentation.video_url nil }}
                <td class="schedule-description" style="text-align: center;"> {{ .presentation.title }}
                  <br/>
                  <a style="display: block; margin: 0 auto;" href="{{ .presentation.video_url }}">
                  <img class="video-download-icon" src="/img/video-solid.svg" alt="Link to Presentation Recording on YouTube"/></a></td>
                  {{ else }}
                <td class="schedule-description">{{ .presentation.title }}</td>
              {{ end }}
            {{ end }}
          </tr>
        {{ else if ne .headline nil}}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td colspan="2" class="schedule-headline">{{ .headline }}: {{ .name }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td colspan="2" class="schedule-slot">{{ .name }}</td>
            <!-- <td class="schedule-description">-</td> -->
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
