<!doctype html>
<html itemscope itemtype="http://schema.org/Event">
<head>
  <title itemprop="name">{{ .Site.Params.Name }}</title>

  <meta charset="utf-8">
  <meta name="author" content="{{ .Site.Params.Name }}" />
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/RSS2026-logo.png">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

</head>
<body>
  <div class="global">

    {{ partial "nav.html" . }}
    {{ partial "header.html" .Site.Params }}

    <div class="content" id="content">
      <div class="wrapper">
        {{ range $section := .Site.Params.Sections }}
          <section class="{{ $section }}" id="{{ $section }}">
            {{ partial $section $.Site.Params }}
          </section>
        {{ end }}

        <footer class="footer">
          <hr style="display:block;width:100%">
          <p>© 2026 - All Rights Reserved - Beyond Rigidity Workshop</p>
        </footer>
      </div>
    </div>
  </div>

  <script>window.jQuery || document.write('<script src="/js/jquery.js"><\/script>')</script>
</body>
</html>
